.env
.vscode
__pycache__
src/libs/constants/__pycache__
src/libs/components/__pycache__
src/libs/tests/__pycache__
TODO.md
TOKEN.md
SERVER.md
.DS_Store

# Data directory for database
data/*
!data/.gitkeep